body {
  font-size: 10px;

  background-color: antiquewhite;
}
.main {
  width: 90vw;
  height: 100vh;
  margin: 10px 5vw;

  font-family: "Ubuntu Mono", monospace;
}
.textarea {
  width: 710px;
  height: 200px;
  margin: 10px auto;

  font-size: 20px;
  color: #000000;

  background-color: white;
}
.keyboard {
  width: 710px;
  height: 250px;

  background-color: grey;
  border: 1px solid black;
}
.row {
  height: 50px;
  margin: 0 auto;
  padding: 2px;
}
.key {
  display: inline-block;
  height: 40px;
  margin: 2px 2px 0 2px;
  padding: 5px;

  font-size: 20px;
  font-family: Tahoma, Verdana, sans-serif;
  text-align: center;
  color: white;

  background-color: black;
  border-radius: 5px;
}
.key_square {
  width: 40px;
}
.key_tab {
  width: 60px;
}
.key_twin {
  width: 104px;

  font-size: 20px;

  background-color: black;
}
.space {
  width: 337px;
}
#id_Backspace {
  width: 124px;
}

#id_CapsLock {
  width: 104px;
}
#id_Enter {
  width: 104px;
}

.key_transform {
  z-index: 22;

  font-size: 21px !important;

  background-color: blue !important;
  border-radius: 50% !important;
}
